# Relatório de analise IV
## Seleções e frequencias

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('aluguel.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

### Somente imóveis classificados como tipo `Apartamento` 
há duas formas de se fazer, podemos utilizar o metodo query ou podemos criar um index list de tudo q for True caso seja apartamento

In [3]:
# Primeira
selecao_apartamento = dados.query("Tipo=='Apartamento'")
selecao_apartamento.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN

In [4]:
# Segunda
selecao_apartamento = dados['Tipo'] == 'Apartamento' 
n1 =  dados[selecao_apartamento].shape[0]
n1

19532

## Usando operadores 'E' e 'OU'
### Onde 'E' se usa '&' e 'OU' se usa '|'

### Imoveis classificados como 'Casa', 'Casa de condominio' e 'Casa de villa'

In [5]:
selecao_casas = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
selecao_casas
n2 = dados[selecao_casas].shape[0]
n2

2212

### Selecionando os imoveis com area entre 60 e 100 mt², incluindo os limites

In [6]:
selecao_area = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao_area].shape[0]
n3

10187

### Selecionando imoveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2000,00

In [7]:
selecao_quartos = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao_quartos].shape[0]
n4

43